.AskSection {
  background-color: #fff;
  height: 400px;
  padding: 20px;
}
.main_title {
  text-align: center;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 500;
  margin: 50px;
}
.gridAsk {
  width: fit-content;
  margin: 10px auto;
  display: grid;
  column-gap: 70px;
  grid-template-columns: 1fr 1fr;
}
.faq_container {
  width: 81%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.faq_row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
  }
.faq_column {
  width: 48%;
  margin-bottom: 10px;
}
.selectAsk {
  font-weight: 700;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}