.AskSection {
  background-color: #fff;
  padding: 20px;
}

.main_title {
  text-align: center;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 500;
  margin: 50px;
}

.gridAsk {
  width: 400px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  column-gap: 70px;
}

.faq_container {
  margin: 0 auto;
  text-align: center;
}

.faq_container>span {
  color: #3c3c3c;
}

.askContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.answer {
  display: none;
  margin: 10px 0 0 0;
  width: 80%;
  border: 2px dotted #000000;
  padding: 10px;
  text-align: justify;
  border-radius: 4px;
  list-style-type: none;
}

.show {
  display: flex;
  position: relative;
}

.selectAsk {
  cursor: pointer;
  font-weight: 700;
  width: 90%;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #fff;
}
@media (max-width: 600px) {
  .gridAsk {
    width: 250px;
  }
}