.sectionCase {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 400px;
}

.sectionCase > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sectionCase > div > h1 {
  font-weight: 600;
  border-top: 4px solid #CFB86F;
  border-bottom: 4px solid #CFB86F;
  padding: 40px 20px;
  font-size: 30px;
}
.sectionCase > div > img {
  height: 250px;
}

.sectionCase > div > button {
  background-color: #D3C192;
  border: none;
  border-radius: 30px;
  font-size: small;
  padding: 6px 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
              0 1px 3px rgba(0, 0, 0, 0.08);
}