.sectionCase {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 400px;
}

.sectionCase > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sectionCase > .titleCases {
  border-top: 7px solid #CFB86F;
  border-bottom: 7px solid #CFB86F;
  padding: 10px 60px;
}
.sectionCase > div > h1 {
  font-weight: 400;
  font-size: 25px;
}
.sectionCase > div > img {
  transition: 0.3s;
  height: 300px;
}
.sectionCase > div > img:hover {
  scale: 110%;
  transition: 0.3s;
}
.sectionCase > div > button {
  background-color: #D3C192;
  border: none;
  border-radius: 30px;
  font-size: small;
  padding: 6px 10px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
              0 1px 3px rgba(0, 0, 0, 0.08);
}