.imgbackground {
  width: 100%;
  height: 600px;
  background-image: url('../../../public/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
  position: relative;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  gap: 90px;
}
.content {
  color: #EEEFF1;
  font-weight: 400;
  font-size: 50px;
  margin-left: 10%;
  padding: 15px;
  border-left: solid 7px #EEEFF1;
  border-radius: 5px;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards 1s;
}
@keyframes fadeIn {
  from { opacity: 0; margin-left: 0;}
  to { opacity: 1; margin-left: 10%;}
}
.saibamais {
  background: transparent;
  border: 3px solid #CFB86F;
  color: #CFB86F;
  font-weight: 600;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 20px auto;
  cursor: pointer;
  transition: 0.3s;
}
.saibamais:hover{
  scale: 110%;
  color: white;
  background-color: #CFB86F;
  transition: 0.3s;
}
@media (max-width: 600px) {
    .imgbackground {
      background-size: cover;
    }
    .content {
      font-size: 30px;
    }
    .saibamais {
      scale: 130%;
    }
}