.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #12110D;
    padding: 10px 20px;
}

.logo img {
    height: 80px;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navLinks li {
    position: relative;
}

.navLinks a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s;
}

.navLinks a:hover {
    color: #f0c040;
}

.contactButton {
    color: #f0c040;
    font-weight: 600;
    padding: 3px 4px;
    border: 3px solid #f0c040;
    border-radius: 100px;
    padding: 10px 20px;
    box-shadow: #000 0.5px 4px 5px;
    text-decoration: none;
}