.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #12110D;
    padding: 10px 20px;
}



.navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navLinks li {
    position: relative;
}

.navLinks a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s;
}

.navLinks a:hover {
    color: #f0c040;
}

.contactButton {
    color: #f0c040;
    font-weight: 600;
    padding: 3px 4px;
    border: 3px solid #f0c040;
    background-color: transparent;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: #000 0.5px 4px 5px;
    text-decoration: none;
    transition: 0.3s;
}

.contactButton:hover {
    border-color: #ffc21b;
    color: #ffc21b;
    transition: 0.3s;
}

.dropDown {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.items {
    display: none;
    position: absolute;
    background-color: #12110D;
    border-radius: 8px;
    min-width: 117px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.items > a {
    text-align: center;
    padding: 10px;
    display: block;
}
.dropDown:hover .items{
    display: block;
}
@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        font-size: 12px;
    }

    .navLinks {
        flex-direction: column;
    }
}