.servicesSection {
    background-color: #fff;
    text-align: center;
}

.title {
    text-align: center;
    letter-spacing: 2px;
    padding: 50px;
    font-size: 30px;
}

.icon {
    border-radius: 100%;
    outline-offset: -10px;
    outline: 10px solid #CFB86F;

}

.service {
    text-align: center;
    padding: 20px;
}

.service_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-bottom: 40px;
    margin-left: 90px;
    margin-right: 90px;
}

.btn {
    color: #CFB86F;
    background-color: #fff;
    border: 2px solid #CFB86F;
    border-radius: 30px;
    font-weight: 600;
    font-size: small;
    padding: 6px 20px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;

}

.btn:hover {
    scale: 110%;
    transition: 0.3s;
}

.moreServices {
    background-color: #D3C192;
    border: none;
    color: black;
    font-weight: 600;
    border-radius: 30px;
    font-size: medium;
    padding: 6px 20px;
    margin: 30px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
                0 2px 6px rgba(0, 0, 0, 0.08);
}

.moreServices:hover {
    scale: 110%;
    transition: 0.3s;
}

@media (max-width: 680px) {
    .title {
        font-size: 25px;
    }
    
    .service_container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

