.servicesSection {
    background-color: #fff;
}

.title {
    text-align: center;
    letter-spacing: 2px;
    padding: 50px;
    font-size: 30px;
}

.icon {
    border: 15px solid #CFB86F;
    border-radius: 100%;
    padding: 0;
    margin: 0;
}

.service {
    text-align: center;
    padding: 20px;
}

.service_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 40px;
}

.btn {
    color: #CFB86F;
    background-color: #fff;
    border-color: #CFB86F;
    border-radius: 30px;
    font-weight: 600;
    font-size: small;
    padding: 6px 20px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
    
}

.btn:hover {
    scale: 110%;
    transition: 0.3s;
}